/.build/
/.toolchains/
/device/.git/
/device/**/*.o
/device/**/*.d
/device/**/*.elf
/device/**/*.bin
/device/**/*.hex
/device/**/*.hdr
/device/**/*.list
/device/**/*.map
/device/**/*.srec
/device/**/Archive.zip
/hardware/tools/adc_ring_telemetry
/hardware/tools/atdtw_stress_test
/hardware/tools/gpdma_visibility_test
/hardware/tools/lpcdfu_recover
/hardware/tools/memory_visibility_test
/hardware/tools/spiflash_recover_varying
/hardware/tools/*.dSYM/
.DS_Store
